
.left{
  width: 23%;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(241,241,241,1) 100%);
  text-align: center;
  float: left;
  color: rgb(0, 0, 0);
    
}
.right{
  width: 77%;
  height: 100vh;
  background: rgb(255, 255, 255);
  float: left;
}

.photo{
  padding: 5vh 0 0 2vh;
  position: static;
}
.detailsBasic{
  padding: 5vh 0 0 2vh;
}
.img{
  height:  234px;
  width: 200px;
  border-radius: 50%;
}
.nav-link{
  color: rgb(6, 5, 70);
  font-weight: 800;
}
.nav-link:hover{
  background-color: rgb(250, 250, 250);
  color: rgb(41, 2, 39);
  border: solid rgb(223, 223, 223) 1px;
    
}
#skill,#project,#education{

  display: none;
}
.right{
  font-family: 'Poppins', sans-serif;
}
.about{
  margin: 80px 0 0 20px;
  animation: fadeIn 0.75s;
    
}
.nameAbout{
  font-size: 38px;
  font-family: 'Nunito', sans-serif;
 font-weight: 800;
  text-transform: uppercase;

}
#navAbout{
  background: white;
}
.college{
  font-size: 45px;
  font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-weight: 700;
}
.education{
  margin: 80px 0 0 20px;
  animation: fadeIn 0.75s;  
  display: table;
}
.dot{
  margin-top: 10px;
  width: 10px;
  height: 10px;
}
.text{
  width: 70%;
  font-weight: 300;
}
.title{
  color: rgb(159, 0, 174);
  font-weight: 600;
}
.graduate{
  width: 80px;
}
ul{
  padding-inline-start: 0;

}
/*   skill bar starts    */
/*
#skill
{
  width: 550px;
  margin: 100px 0 0 40px;
}
.container{
  width: 50%;
  margin: 0 auto;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: rgb(235, 235, 235);
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(237, 237, 237);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #d0ffa0;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ebcfff;
}
.bar.back::before{
  background-color: #ffeaee;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}
*/

/*   skill bar ends    */

/*  Adding Skill Graph  */
.skillGraph{
  display: flex;
  width: 850px;
  animation: fadeIn 0.75s;
}
.yaxis{
  width: 120px;
  height: 400px;
}
.yaxisElements{
  padding-top: 90px;
  text-align: right;
}
.axisline{
  border: solid 2px;
  border-left: #1f2027;
  margin-left: 10px;
  height: 400px;
  width: 2px;
  
}
.skills-plotting{
  width: 100%;
  display: flex;
  border-bottom: solid 2px;
}
.c, .git, .python, .javascript, .nodejs, .css, .html, .photoshop{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  margin: 330px 0 0 80px;
  padding-top: 10px;
  text-align: center;
  font-weight: 300;
}
.photoshop{
  margin: 290px 0 0 50px;
  font-weight: 300;
}
.git{
  margin: 250px 0 0 80px;
  font-weight: 400;
}
.python{
  margin: 220px 0 0 80px;
  font-weight: 500;
}
.nodejs{
  margin: 200px 0 0 80px; 
  font-weight: 600;
}
.javascript{ 
  margin: 150px 0 0 80px;
  font-weight: 600;
}
.css{
  margin: 50px 0 0 80px;
  font-weight: 700;
}
.html{
  margin: 40px 0 0 80px;
  font-weight: 700;
}

/*  Ending Skill Graph  */


/*  START  transition of skill graph*/

@keyframes fadeIn {
 from {
  opacity: 0;
  transform: rotateX(-10deg);
 }

 to{
  opacity: 1;
  transform: rotateX(0);
 }
}

/* ENDS  transition of skill graph*/


@font-face {
  font-family: "icomoon";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  text-align: left;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 68px;
  height: 68px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
}
.social-networks a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 100px;
  background-color: #1f2027;
  transition: all 400ms;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 26px;
  line-height: 66px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}
.social-networks.spin-icon a:hover:after, .social-networks.spin-icon a:focus:after {
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg);
}
.social-networks.square a:hover:before, .social-networks.square a:focus:before {
  border-radius: 0;
}
.social-networks.bounce a:hover, .social-networks.bounce a:focus {
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}
.social-networks .icon-linkedin:after {
  content: "";
}
.social-networks .icon-linkedin:hover:before, .social-networks .icon-linkedin:focus:before {
  background: rgb(187, 3, 204);
}
.social-networks .icon-facebook:after {
  content: "";
}
.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
  background: #3b5998;
}
.social-networks .icon-twitter:after {
  content: "";
}
.social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
  background: #00b0ed;
}
.social-networks .icon-github:after {
  content: "";
}
.social-networks .icon-github:hover:before, .social-networks .icon-github:focus:before {
  background:rgb(187, 3, 204);
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -6px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -6px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {

    color: rgb(6, 5, 70);
}
