.coverTop{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 50vh;
}
.coverBottom{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 50vh;

}
.confirm{
    display: flex;
    justify-content: center;
    padding-top: 49vh;
}
.left{
    width: 23%;
    height: 100vh;
    background: rgb(209, 209, 209);
    text-align: center;
    float: left;
    color: rgb(6, 5, 70);
    
}
.right{
    width: 77%;
    height: 100vh;
    background: rgb(255, 255, 255);
    float: left;
}

.photo{
    padding: 5vh 0 0 2vh;
    position: static;
}
.detailsBasic{
    padding: 5vh 0 0 2vh;
}
img{
    height:  234px;
    width: 200px;
    border-radius: 50%;
}
.nav-link{
    color: rgb(7, 5, 121);
    font-weight: 800;
}
.nav-link:hover{
    background-color: rgb(240, 235, 235);
    color: rgb(114, 7, 109);
}
#about,#skill,#project,#education{

    display: none;
}